* {
    font-family: 'Roboto', sans-serif;
}

.menu {
    background-color: #465881;
}

.menu>a {
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
}

.save {
    margin-top: 3em;
    text-align: center;
}

.btn-new,
.btn-next,
.btn-pdf,
.btn-compare {
    margin          : 30px 0px;
    border-radius   : 0px;
    background-color: #7F8697 !important;
    color           : #f5f5f5 !important;
    font-size       : 16px;
    width           : 155px;
}

.btn-next {
    background-color: #849ACF !important;
}

.btn-pdf {
    background-color: #ED6B47 !important;
}

.btn-compare {
    background-color: #8BAB54 !important;
}

.btn:hover {
    color: #212529 !important;
}

section {
    margin: 4em 2em 1em 2em;
}

/*Tabla Comparativa*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.intro {
    max-width: 1280px;
    margin   : 1em auto;
}

.table-scroll {
    position: relative;
    width   : 100%;
    z-index : 1;
    margin  : auto;
    overflow: auto;
    height  : 30em;
}

.table-scroll table {
    width          : 100%;
    min-width      : 1280px;
    margin         : auto;
    border-collapse: separate;
    border-spacing : 0;
}

.table-wrap {
    position: relative;
}

.table-scroll th,
.table-scroll td {
    padding       : 5px 10px;
    border        : 1px solid #7F8697;
    background    : #fff;
    vertical-align: top;
}

.table-scroll thead th {
    background: #465881;
    color     : #fff;
    position  : -webkit-sticky;
    position  : sticky;
    top       : 0;
}

/* safari and ios need the tfoot itself to be position:sticky also */
.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
    position  : -webkit-sticky;
    position  : sticky;
    bottom    : 0;
    background: #666;
    color     : #fff;
    z-index   : 4;
}


/* testing links*/

th:first-child {
    position  : -webkit-sticky;
    position  : sticky;
    left      : 0;
    z-index   : 2;
    background: #ccc;
}

thead th:first-child,
tfoot th:first-child {
    z-index: 5;
}