<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">Vicerrectorado</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Principal <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">Subir archivos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listado">Visualizar estudios</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Formulario para recoger el nombre del estudio-->
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="form-group">
                <form id="formulario" action="{{url_for('getExcel')}}" method="POST">
                    <br>
                    <br>
                    <br>
                    <label for="nombre" class="col-lg-2 col-form-label">Nombre del estudio:</label>
                    <input type="text" class="form-control" id="nombre" name="pynombre">
                    <br>
                    <input type="hidden" id="listaAneca" value="" name="pylistadoAneca">
                    <input type="submit" class="btn-lg btn-primary" value="Bajar Archivo">
                    <button onclick="guardarEstudio()" id="botonEstudio" type="button" class="btn-lg btn-primary">Guardar Estudio</button>
                </form>
            </div>
        </div>
    </div>
          <!-- Listado con los items -->
          <div class="row" id="listado">

          </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
    function tablaHtml(datos){
        var htmlTable = ""

        htmlTable +=  "<table class='table'>" +
                        "<thead>" +
                          "<tr>" +
                            "<th scope='col'>Código</th>" +
                            "<th scope='col'>Título</th>" +
                            "<th scope='col'>Año</th>" +
                            "<th scope='col'>Organización y desarrollo</th>" +
                            "<th scope='col'>Información y transparencia</th>" +
                            "<th scope='col'>SGID</th>" +
                            "<th scope='col'>Personal académico</th>" +
                            "<th scope='col'>Apoyo y recursos a materiales</th>" +
                            "<th scope='col'>Resultados</th>" +
                            "<th scope='col'>Indicadores</th>" +
                            "<th scope='col'>Final Total</th>" +
                            "<th scope='col'>Curriculum</th>" +
                            "<th scope='col'>Docentia</th>" +
                            "<th scope='col'>Web</th>" +
                            "<th scope='col'>Coordinacion</th>" +
                            "<th scope='col'>Otras</th>" +
                          "</tr>" +
                        "</thead>" +
                        "<tbody>";
        for(var i=0; i < datos.length; i++) {
            htmlTable += "<tr>" + 
                            "<td>" + datos[i]['codigo'] + "</td>" +
                            "<td>" + datos[i]['titulo'] + "</td>" +
                            "<td>" + datos[i]['anyo'] + "</td>" +
                            "<td>" + datos[i]['gestiontitulo']['organizacionydesarrollo'] + "</td>" +
                            "<td>" + datos[i]['gestiontitulo']['informacionytransparencia'] + "</td>" +
                            "<td>" + datos[i]['gestiontitulo']['SGIC'] + "</td>" +
                            "<td>" + datos[i]['recursos']['personalacademico'] + "</td>" +
                            "<td>" + datos[i]['recursos']['apoyoyrecursosmateriales'] + "</td>" +
                            "<td>" + datos[i]['resultados']['resultados'] + "</td>" +
                            "<td>" + datos[i]['resultados']['indicadores'] + "</td>" +
                            "<td>" + datos[i]['finaltotal'] + "</td>" +
                            "<td>" + datos[i]['recomendaciones']['curriculum'] + "</td>" +
                            "<td>" + datos[i]['recomendaciones']['docentia'] + "</td>" +
                            "<td>" + datos[i]['recomendaciones']['web'] + "</td>" +
                            "<td>" + datos[i]['recomendaciones']['coordinacion'] + "</td>" +
                            "<td>" + datos[i]['recomendaciones']['otras'] + "</td>" +
                          "</tr>"
        }
        htmlTable += "</tbody>" +
                     "</table"

        document.getElementById("listado").innerHTML= htmlTable;
    };
    var actualizar
    //Rellenamos los datos de la tabla
    $(document).ready(function(){
      var aux = '{{ data|safe }}'
      var datos = JSON.parse(aux)
      if(datos.hasOwnProperty('id')){
        $.ajax({
                           type        :'POST',
                           url         :"/verDetalles",
                           data        :aux,
                           contentType: "application/json",
                           encode      :true,
                           success     :function rellena(data){
                                            actualizar = data
                                            tablaHtml(data['comparativa'])
                                            document.getElementById("listaAneca").value=JSON.stringify(data['comparativa']);
                                            //Actualizamos el boton
                                            document.getElementById("botonEstudio").setAttribute("onclick", "actualizarEstudio()");
                                            document.getElementById("botonEstudio").innerHTML= "Actualizar estudio"
                                            document.getElementById("nombre").value = data['nombre']
                                          }, 
                           error       :function(data){
                                          alert("Algo ha fallado!!! :( ");
                                          console.log(data)
                                         } 
                      });
      }else{
        tablaHtml(datos)
        document.getElementById("listaAneca").value=aux;
      }
    });

    //Guardamos el estudio en la bd
    function guardarEstudio(){
                var name = document.getElementById("nombre").value;
                var estudio = {
                            "nombre": name,
                            "comparativa": []
                         };
                var aux = '{{ data|safe }}'
                var datos = JSON.parse(aux);

                for(var i in datos) {
                  var item = datos[i];
                  estudio.comparativa.push(item);
                }
                $.ajax({
                           type        :'POST',
                           url         :"/new",
                           data        :JSON.stringify(estudio),
                           contentType: "application/json",
                           encode      :true,
                           success     :function(data){
                                          alert("Estudio añadido!!! :) ");
                                          window.location.href = "/";
                                         }, 
                           error       :function(data){
                                          alert("Algo ha fallado!!! :( ");
                                         } 
                      });
                event.preventDefault();
          };    
    //Guardamos el estudio en la bd
    function actualizarEstudio(){
      //actualizamos el nombre
      var name = document.getElementById("nombre").value;
      actualizar.nombre = name
      //Aqui tendriamos que cojer los datos de la tabla(han eliminado archivos, han añadido archivos)
      //actualizar.comparativa = 
      console.log(actualizar)
                alert("funciona");
    };
</script>


</body>
</html>
